<div class="form-wrapper">
  <form class="search-form" id="search-form">
    <label for="search-form" class="search-form__label">
      <input
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Search images..."
      />
      <button type="submit">
        <svg class="icon-search" width="20px" height="20px">
          <use href="./images/magnifying-glass.svg#icon-search"></use>
        </svg>
      </button>
    </label>
  </form>
</div>

<div class="gallery">
  <!-- image card -->
</div>
<button type="button" class="load-more">Load more</button>
